<!-- Header -->
<header>
    <div class="container backFirstSection" style="background-image:url('../../public/img/images/DSC_1666.JPG'); background-size: 100% 100%;background-repeat: no-repeat;">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive roundIcon" src="../../public/img/profile2.png" alt="">
                <div class="intro-text">
                    <span class="name">Casament 2017</span>
                    <hr class="star-light">
                    
                    <span class="skills">Tenim ganes de celebrar amb vosaltres que ens  estimem
                    </span>
<br>

                    <!--<h1>Countdown Clock</h1>-->
                    <div id="clockdiv">
                      <div>
                        <span class="days"></span>
                        <div class="smalltext">Dies</div>
                      </div>
                      <div>
                        <span class="hours"></span>
                        <div class="smalltext">Hores</div>
                      </div>
                      <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minuts</div>
                      </div>
                      <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Segons</div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Quin és el plan?</h2>
                <hr class="star-primary">
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-suitcase text-primary sr-icons"></i>-->
                    <img src="../../public/img/images/seccions/firma.png" style="width:85px;height:100px;"/>
                    <h3>Casament oficial</h3>
                    <p class="text-muted">El bodorrio oficial tindrà lloc al saló de cent de l'ajuntament de Barcelona.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-search text-primary sr-icons"></i>-->
                    <img src="../../public/img/images/seccions/couple.png" style="width:100px;height:100px;"/>
                    <h3>Celebració</h3>
                    <p class="text-muted">La celebració es farà el dissabte dia ... a la casa ....</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-compress text-primary sr-icons"></i>-->
                    <img src="../../public/img/images/seccions/paitomaquet.png" style="width:100px;height:100px;"/>
                    <h3>Embotits de la terra</h3>
                    <p class="text-muted">Com a casa som de menjar, farem un pica pica amb productes del pais.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-money text-primary sr-icons"></i>-->
                    <img src="../../public/img/images/seccions/disco.png" style="width:100px;height:100px;"/>
                    <h3>Give me the money</h3>
                    <p class="text-muted">Enjoy you money without fees!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>On?</h2>
                <hr class="star-light">
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-12 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2966.355475060116!2d2.2081886148598953!3d41.97117706756425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a526dcf544a2c1%3A0x16ced588d7791a62!2sVespella+D&#39;Esplai+S.L.!5e0!3m2!1sen!2ses!4v1479064933060" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>-->

        <!--<div>
            <div id="tabs">
              <ul>
                <li><a href="#tabs-1">Casament civil</a></li>
                <li><a href="#tabs-2">Mas celebració</a></li>
                <li><a href="#tabs-3">Tab3</a></li>
              </ul>
              <div id="tabs-1">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede </p>
              </div>
              <div id="tabs-2">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede </p>
              </div>
              <div id="tabs-3">
                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede </p>
              </div>
            </div>
        </div>-->

<div class="row">
    <div class="col-lg-12 text-center">
        <div style="width:600px; margin:auto">
            <tabs style="color:white;width:700px">
                <tab tabTitle="Boda oficial">
                    <div class="row">
                        
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2966.355475060116!2d2.2081886148598953!3d41.97117706756425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a526dcf544a2c1%3A0x16ced588d7791a62!2sVespella+D&#39;Esplai+S.L.!5e0!3m2!1sen!2ses!4v1479064933060" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        
                    </div>
                </tab>
                <tab tabTitle="Celebració">
                    <div class="row" >
                        <div class="col-lg-12 text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d136395.70140529523!2d-6.373856226716759!3d53.38319667849441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e80ea27ac2f%3A0xa00c7a9973171a0!2sDubl%C3%ADn%2C+Irlanda!5e0!3m2!1sca!2ses!4v1483204001301" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </tab>
            </tabs>
        </div>
    </div>

</div>

<!--<div style="color:white">
    <a href="" onClick="showPlace1(1);return false;" style="white">Place1</a>
    <a href="" onClick="showPlace1(2);return false;" style="white">Place2</a>

<div class="aa" style="background-color:red;width:700px;height:550px">
    
</div>
<div class="bb" style="background-color:blue">
    

</div>
</div>-->

        <!--<ng2-tab
  selected="js"
  selected-index-class="selected"
  selected-contents-class="fadeIn animated">
  <div class="tabs">
    <div index="html">HTML</div>
    <div index="js">Javascript</div>
  </div>
  <div class="tab-contents">
    <div contents="html">HTML {{1}}</div>
    <div contents="js">Javascript {{1}}</div>
  </div>
</ng2-tab>-->


        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
            </div>
            <div class="col-lg-4">
                <p>No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Us</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- WebShot Section -->
<section class="success" id="about2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>WedShot App</h2>
                <hr class="star-light">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <ul>
                    <li class="how-to-steps pt0" style="padding:10px">
                        <div class="pure-g">
                            <!--<div class="pure-u-1-1 pure-u-md-1-12 inline-block">
                                <span class="steps">1</span>
                            </div>-->
                            <div class="pure-u-1-1 pure-u-md-11-12 inline-block">
                                <p class="mb0">Descarreguet l'App</p>
                                <span class="color-secondary">Once your album is created you will get the code. Use it to access your album from your mobile.</span>

                                <style>
                                    @media only screen and (min-width: 768px)
                                    .stores .icon-stores.apple {
                                        background-position: -185px 3px;
                                    }
                                    .stores .icon-stores.apple {
                                        background-position: -133px 3px;
                                    }
                                    @media only screen and (min-width: 768px)
                                    .stores .icon-stores {
                                        background: url(../../public/img/images/sprite_stores.svg) no-repeat;
                                        background-size: 205%;
                                        width: 177px;
                                        height: 55px;
                                        padding: 7px 0 0;
                                    }
                                    .stores .icon-stores {
                                        background: url(../../public/img/images/sprite_stores.svg) no-repeat;
                                        background-size: 200%;
                                        width: 130px;
                                        height: 46px;
                                        padding: 4px 0 0;
                                        font-size: 10px;
                                        color: #fff;
                                        display: inline-block;
                                    }
                                </style>

                                <div class="stores">
                                    <a rel="nofollow" target="_blank" href="https://app.appsflyer.com/id660256196?pid=WP-iOS-ES&amp;c=WP-ES-LANDINGS&amp;s=es" class="app_link_ios icon-stores apple">
                                    <!--<span>Disponible per</span>-->
                                    </a>
                                    <a rel="nofollow" target="_blank" href="https://app.appsflyer.com/net.bodas.android.wedshoots?pid=WP-Android-ES&amp;c=WP-ES-LANDINGS" class="app_link_android icon-stores android">
                                    <!--<span>Disponible per</span>-->
                                    </a>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="how-to-steps" style="padding:10px">
                        <div class="pure-g">
                            <!--<div class="pure-u-1-1 pure-u-md-1-12 inline-block">
                                <span class="steps">2</span>
                            </div>-->
                            <div class="pure-u-1-1 pure-u-md-11-12 inline-block">
                                <p class="mb0">Fes una foto</p>
                                <span class="color-secondary">Tell your guests about it via email, Facebook, say it on the invitations... Don't forget to give them the code!</span>
                            </div>
                        </div>
                    </li>
                    <li class="how-to-steps" style="padding:10px">
                        <div class="pure-g">
                            <!--<div class="pure-u-1-1 pure-u-md-1-12 inline-block">
                                <span class="steps">3</span>
                            </div>-->
                            <div class="pure-u-1-1 pure-u-md-11-12 inline-block">
                                <p class="mb0">Comparteix les foto!</p>
                                <span class="color-secondary">Your day is almost here and everyone has the app and the album code, so... Enjoy and start uploading photos!</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                            <div class="pure-u-1-1 pure-u-md-1-2">
                                <div class="iphone">
                                    <img alt="Wedshoots App filters" title="Wedshoots App filters" src="/img/iphone-pink-es_ES2.png" srcset="../../public/img/images/iphone-pink-es_ES2.png 1x, /img/iphone-pink-es_ES2@2x.png 2x">
                                </div>
                            </div>
                <p>No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
            </div>
        </div>
    </div>
<!--
    <section>
    <div class="pure-g how-to-container">
                            <div class="pure-u-1-1 pure-u-md-1-2">
                                <h2>How it works</h2>
                                <ul>
                                    <li class="how-to-steps pt0">
                                        <div class="pure-g">
                                            <div class="pure-u-1-1 pure-u-md-1-12 inline-block">
                                                <span class="steps">1</span>
                                            </div>
                                            <div class="pure-u-1-1 pure-u-md-11-12 inline-block">
                                                <p class="mb0">Create your album</p>
                                                <span class="color-secondary">Once your album is created you will get the code. Use it to access your album from your mobile.</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="how-to-steps">
                                        <div class="pure-g">
                                            <div class="pure-u-1-1 pure-u-md-1-12 inline-block">
                                                <span class="steps">2</span>
                                            </div>
                                            <div class="pure-u-1-1 pure-u-md-11-12 inline-block">
                                                <p class="mb0">Share it with your guests</p>
                                                <span class="color-secondary">Tell your guests about it via email, Facebook, say it on the invitations... Don't forget to give them the code!</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="how-to-steps">
                                        <div class="pure-g">
                                            <div class="pure-u-1-1 pure-u-md-1-12 inline-block">
                                                <span class="steps">3</span>
                                            </div>
                                            <div class="pure-u-1-1 pure-u-md-11-12 inline-block">
                                                <p class="mb0">Download the app and start uploading photos!</p>
                                                <span class="color-secondary">Your day is almost here and everyone has the app and the album code, so... Enjoy and start uploading photos!</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="stores">
                                        <a rel="nofollow" target="_blank" href="https://app.appsflyer.com/id660256196?pid=WP-iOS-UK&amp;c=WP-UK-LANDINGS&amp;s=gb" class="app_link_ios icon-stores apple"><span>Available for</span></a>
                                        <a rel="nofollow" target="_blank" href="https://app.appsflyer.com/net.bodas.android.wedshoots?pid=WP-Android-UK&amp;c=WP-UK-LANDINGS" class="app_link_android icon-stores android"><span>Available for</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2">
                                <div class="iphone">
                                    <img alt="Wedshoots App filters" title="Wedshoots App filters" src="/img/iphone-pink-en_EN.png" srcset="/img/iphone-pink-en_EN.png 1x, /img/iphone-pink-en_EN@2x.png 2x">
                                </div>
                            </div>
                        </div>
    </section>
</section>
-->